
## <summary>policy for creddit</summary>


########################################
## <summary>
##	Transition to creddit.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`creddit_domtrans',`
	gen_require(`
		type creddit_t, creddit_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, creddit_exec_t, creddit_t)
')


########################################
## <summary>
##	Execute creddit server in the creddit domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`creddit_initrc_domtrans',`
	gen_require(`
		type creddit_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, creddit_initrc_exec_t)
')


########################################
## <summary>
##	Search creddit lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`creddit_search_lib',`
	gen_require(`
		type creddit_var_lib_t;
	')

	allow $1 creddit_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read creddit lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`creddit_read_lib_files',`
	gen_require(`
		type creddit_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, creddit_var_lib_t, creddit_var_lib_t)
')

########################################
## <summary>
##	Manage creddit lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`creddit_manage_lib_files',`
	gen_require(`
		type creddit_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, creddit_var_lib_t, creddit_var_lib_t)
')

########################################
## <summary>
##	Manage creddit lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`creddit_manage_lib_dirs',`
	gen_require(`
		type creddit_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, creddit_var_lib_t, creddit_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a creddit environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`creddit_admin',`
	gen_require(`
		type creddit_t;
		type creddit_initrc_exec_t;
		type creddit_var_lib_t;
	')

	allow $1 creddit_t:process { ptrace signal_perms };
	ps_process_pattern($1, creddit_t)

	creddit_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 creddit_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, creddit_var_lib_t)

')

